<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='picc.png') }}">
    <title>Generate Invoice</title>
</head>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">PRO Tennis</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/action">Action</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/invoiceform">Invoice</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/receiptform">Receipt</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">{{ session.get("names") }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% block body %}
    <div class="modal-body">
        <form action="{{ url_for('receiptform') }}" method="post">
            <div class="row justify-content-center">
                <div class="col-sm-5">
                    <h2>Generate Receipt</h2>
                    <div class="form-group">
                        <label>Received From</label>
                        <input type="text" class="form-control" placeholder="Jane Doe" name="names" required="">
                    </div>
                    <div class="form-group">
                        <label>Receipt #</label>
                        <input type="text" class="form-control" placeholder="101" name="number" required="">
                    </div>
                    <div class="form-group">
                        <label>Date Paid</label>
                        <input type="date" class="form-control" name="date" required="1">
                    </div>
                    <div class="form-group">
                        <label>Amount Paid</label>
                        <input type="text" class="form-control" name="amount" placeholder="sh 5,000" required="1">
                    </div>
                    <div class="form-group">
                        <label>Invoice Reference</label>
                        <input type="text" class="form-control" placeholder="INV-003"
                               name="invoicereference" required="">
                    </div>
                    <div class="form-group">
                        <label>Payment Reference</label>
                        <input type="text" class="form-control" placeholder="CHQ No. 00005" name="paymentreference"
                               required="">
                    </div>
                    <div class="form-group">
                        <label>Invoice Total</label>
                        <input type="text" class="form-control" name="invoicetotal" placeholder="sh 5,000" required="1">
                    </div>
                    <div class="form-group">
                        <label>Amount Paid</label>
                        <input type="text" class="form-control" placeholder="sh 5,000"
                               name="amountpaid" required="">
                    </div>
                    <div class="form-group">
                        <label>Still Owing</label>
                        <input type="text" class="form-control" placeholder="sh 0" name="stillowing" required="">
                    </div>
                    <div class="form-group">
                        <label>Total Amount</label>
                        <input type="text" class="form-control" placeholder="sh 5,000" name="totalamount" required="1">
                    </div>
                    <div class="form-group">
                        <label>Amount Paid</label>
                        <input type="text" class="form-control" placeholder="sh 5,000"
                               name="amountpaid" required="">
                    </div>
                    <div class="form-group">
                        <label>Balance Due</label>
                        <input type="text" class="form-control" placeholder="sh 0"
                               name="balancedue" required="">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary justify-content-center" type="submit">Generate</button>
                    </div>
{#                    <div class="modal-footer justify-content-end">#}
{#                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>#}
{#                    </div>#}
                </div>
            </div>
        </form>
    </div>

{% endblock body %}
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
</html>